@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.wish-list {
    list-style: none;
}

.form-check-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-check-label p, input{
    margin: 0;
}

.formCtr{
    margin: 2rem 0;
}